/* Universal Styles */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

hr {
  position: absolute;
  border-top: 1px solid whitesmoke; 
  /*background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));*/
  width: 75%;
  margin: 0 auto;
  right: 0;
  left: 0;
  opacity: 0.25;
}

.hrtop {
  top: 25px;
}

.hrbottom {
  bottom: 25px;
}

h1 {
  font-size: 4.5rem;
  margin: 5px 0;
  letter-spacing: 2px;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

h3 {
  font-size: 1.rem;
  margin: 5px 0;
  font-weight: 100;
}

p {
  font-size: 1.2rem;
  font-weight: 100;
}

ul {
  font-size: 20px;
  box-sizing: border-box;
}

button {
  border-radius: 3px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.material-icons {
  position: relative;
  font-size: 24px;
  top: 5px;
}


/* Slides */

.slide {
  width: 100%;
  height: 100vh;
  position: relative;
}

.first {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(./img/cameras-wall.jpg);
  background-size: cover;
  background-position: center center;
}

.first h3 {
  font-size: 2em;
  padding: 10px;
}

.solid {
  background: #75aaff;
}

.solid ul {
  display: inline-block;
  text-align: left;
}

.solid ul li {
  list-style-type: none;
  margin: 10px 0;
}

.solid ul li:before {
  content: '\f058';
  font-family: "FontAwesome";
  margin: 0 5px;
  color: whitesmoke;
}

.third {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(./img/camera-single-wall.jpeg);
  background-size: cover;
}

.third span {
  position: relative;
  display: inline-block;
  margin: 10px 5px;
  width: 25%;
}

.contactIcons .fa{
  font-size: 2rem;
  margin: 25px 10px;
}

.contact .fa:hover {
  cursor: pointer;
}

.contact a {
  color: whitesmoke;
  text-decoration: none;
}


/* Slide content */

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

.center section {
  width: 100%;
}


/* Slide container */

.scroller {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: initial; /*auto for snap*/
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

/*Contact section*/

.hidden {
  display: none;
}

.showing {
  display: block;
}

.active {
  color: whitesmoke;
}

.inactive {
  color: rgba(255,255,255,0.3);
}

/*Styles for mobile devices*/

@media only screen and (max-width: 642px) {
  ul {
    font-size: 18px;
  }
  .scroller {
    scroll-snap-type: none;
  }
  .first {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(./img/mobile-cameras-wall.jpg);
    background-size: cover;
    background-position: center center;
  }
  .solid ul {
    margin: 25px auto;
    display: block;
    width: 95%;
    padding: 0;
  }
  .third span {
    display: block;
    width: 95%;
    text-align: left;
    background: whitesmoke;
    border-radius: 3px;
    color: #444;
    padding: 5px 10px;
    margin: 20px auto;
    box-sizing: border-box;
  }
  .third span h3,
  .third span p {
    margin: 5px;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.15rem;
  }
  p {
    font-size: 1.2rem;
  }
}
